.border{
  border: 1px solid red;
}
.back {
/*  background-image: url(../images/budeshi.png);
  background-repeat: no-repeat;
  background-position: center;
  */
}
.filter-button {
  display: block;
}
#ubecproject {
  display: block;
}
#project-overview {
  display: block;
}
